*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
body {
    overflow-x: hidden;
    background: #0c1015;
}
main {
    width: 100vw;
    height: 100vh;
    margin: auto;
    padding: 2rem;
}

.swiper-container {
    position: relative;
    display: flex;
    border: 2px white solid;
    border-radius: 1rem;
    flex-direction: row-reverse;
    gap: 1rem;
    justify-content: center;
    width: 1440px;
    height: 900px;
    margin: 2rem auto;
}
.myswiper {
    position: absolute !important;
    right: 0 !important;
    box-sizing: border-box !important;
    width: 50% !important;
    margin: 0 0 !important;
    height: 100%;
}
.pagination-grid {
    position: absolute !important;
    top: 50% !important;
    left: 5rem !important;
    transform: translateY(-50%) !important;
    display: grid;
    height: 600px !important;
    width: 535px !important;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px; /* Optional: Add spacing between images */
}
.flex-centered {
    width: 100%;
    height: 100%;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-card {
    width: 80%;
    height: 600px;
    display: flex;
    background: #24292f;
    margin: auto;
    padding: 4rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
    justify-content: flex-start;
}
.swiper-pagination-bullet {
    width: 100% !important;
    height: 100% !important;
}

.swiper-pagination-bullet img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.name {
    color: white;
    letter-spacing: 0.05em;
    font-size: 1.375rem;
    line-height: 1.4144rem;
    margin-bottom: 7px;
    font-weight: 400;
}
.house {
    font-weight: 400;
    color: #c92b2b;
    font-size: 1.125rem;
    line-height: 1.3625rem;
    margin-bottom: 26px;
}
.description {
    font-size: 0.875rem;
    color: white;
    width: 80%;
    line-height: 2em;
}
