<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home page</title>
        <link rel="stylesheet" href="./style.css" />
    </head>
    <body>
        <h1>This is my Home page</h1>
        <ul>
            <li><a href="http://localhost:3000/about.html">go to about page</a></li>
            <li><a href="http://localhost:3000/contact.html">go to contact page</a></li>
        </ul>
    </body>
</html>
