@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
    background: rgb(52, 52, 52);
    color: white;
}

h1 {
    background: rgb(99, 95, 95);
    text-align: center;
    padding: 30px;
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: 100;
    border-bottom: 1px white solid;
}

h1 > span {
    font-weight: bold;
    color: #ffb30e;
}

p {
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    letter-spacing: 1px;
    line-height: 2em;
    text-transform: uppercase;
    font-style: italic;
}
p span {
    font-weight: bold;
    color: #ffb30e;
}

a {
    display: block;
    max-width: fit-content;
    margin: auto;
    margin-top: 50px;
    color: black;
    background: #ffaf03;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

a:hover {
    background: #fbca62;
}
