@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(30, 30, 30);
}
/*Utility classes*/
.grid_container {
    display: grid;
}

.flex_container {
    display: flex;
}

/*HTML elements basic & layout css*/
main {
    max-width: 1440px;
    margin: auto;
}

.grid_hero {
    grid-template-columns: repeat(2, 1fr);
}
.grid_news {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.news_image:first-child {
    grid-row-start: 1;
    grid-row-end: 3;
}

/*Header & Nav*/
header {
    max-width: 1440px;
    height: 65px;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 17px 120px;

    background: #3a3d46;
    box-shadow: 0px 4px 4px 0px #00000040;
}
nav {
    gap: 40px;
    justify-content: space-around;
    align-items: center;
    width: fit-content;

    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.055em;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
/*Hero Section*/
.hero {
    background: rgb(35, 35, 35);
}
.grid_hero {
    margin-left: 120px;
    margin-right: 120px;
}
.presentation_cta {
    flex-direction: column;
    justify-content: center;

    place-self: center start;
    width: 100%;
    height: 100%;
    gap: 20px;
    font-family: 'Raleway';
    font-weight: 800;
}
.presentation_cta h1 {
    color: white;
    font-size: 65px;

    line-height: 65px;
    letter-spacing: 0.04em;
    text-align: left;
}
.presentation_cta h1 > span {
    color: #ffb800;
}
.presentation_cta h2 {
    font-size: 26px;

    line-height: 26px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #007dfc;
}
.bar {
    width: 100%;
    height: 2px;
    background: gray;
}
.presentation_cta p {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.88px;
    letter-spacing: 0.02em;
    text-align: left;
}
.mark_image {
    place-self: center;
    width: 100%;
    height: 100%;
}
.mark_image > img {
    width: 100%;
    height: 100%;
}
.button_cta {
    white-space: nowrap;
    width: fit-content;
    padding: 10px 27px 10px 27px;
    border-radius: 45px;
    opacity: 0px;
}
.flex_container.presentation_cta {
    flex-direction: column;
}

/*News section*/
.news {
    background: white;
    padding: 80px 120px;
}

.news > h2 {
    font-family: 'Raleway';
    font-size: 28px;
    font-weight: 400;
    line-height: 36.54px;
    letter-spacing: 0.02em;
    text-align: left;
}

.news > h2 + .bar {
    width: 120px;
    margin-bottom: 15px;
    margin-left: 50px;
}
